.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

form {
  height: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

input, button {
  font-size: 1em;
  border-radius: 6px;
}

.results-nominations {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.results {
  ul {
    list-style: none;
    padding-inline-start: 10px;
  }
}

li {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.banner {
  background-color: green;
  padding: 1em;
}